version: '3'

services:
  application:
    image: ''
    restart: always
    command: sh -c "yarn run migrate-up-prod && yarn start"
    stdin_open: true
    ports:
      - ':'
    depends_on:
      - userdata
    environment:
      - GH_CLIENT_ID=
      - GH_CLIENT_SECRET=
      - GH_CB_URL=
      - GL_CLIENT_ID=
      - GL_CLIENT_SECRET=
      - GL_CB_URL=
      - BB_CLIENT_ID=
      - BB_CLIENT_SECRET=
      - BB_CB_URL=
      - JWT_SECRET=
      - PORT=
      - DATABASE_URL=

  userdata:
    image: 'postgres'
    environment:
      - POSTGRES_USER=
      - POSTGRES_DB=
      - POSTGRES_PASSWORD=
    volumes:
      - userdata-data:/var/lib/postgresql/data/
    ports:
      - ':'

  language-server:
    image: 'ohtuamandus/robot-language-server'
    ports:
      - ':5555'

  watchtower:
    image: v2tec/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30

volumes:
  userdata-data: